body {
  background-color: #7575a3;
  margin: 0;
}

h2,
h1,
h3 {
  color: #10162f;
}

th,
td {
  color: grey;
}

table {
  background-color: black;

}

#yellow {
  color: #10162f;
  border: solid #3c4a90;
  border-width: thick;
  
}

.paddingedit {
  background-color: #18334e;
  color: snow;
}



@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-size: 80.5%;
  font-family: 'Roboto', sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.header {
  list-style: none;
  text-align: center;
  padding: 0;
  text-decoration: none;
  background-color: #404040;
 
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1.5rem;
  background-color: black;

}




.hamburger {
  padding-right: 100px;
  color: #3c4a90;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}



.image1 {
  size: 20px;
  width: 80x;
  height: 80px;
}




nav {
  text-align: center;
}

.menu {
  display: inline-block;

}

.menu>li {
  float: left;
  color: #3c4a90;
  width: 140px;
  height: 40px;
  line-height: 40px;
  background: rgba(0, 0, 0, 0.8);
  cursor: pointer;
  font-size: 17px;
}

.sub-menu {
  transform: scale(0);
  transform-origin: top center;
  transition: all 300ms ease-in-out;
}


.sub-menu li {
  font-size: 14px;
  background: rgba(0, 0, 0, 0.8);
  padding: 8px 0;
  color: white;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  /*display: none;*/
  transform: scale(0);
  transform-origin: top center;
  transition: all 300ms ease-in-out;
}

.sub-menu li:last-child {
  border-bottom: 0;
}


.sub-menu li:hover {
  background: black;
}


.menu>li:hover .sub-menu li {
  transform: scale(1);
}


.menu>li:hover .sub-menu {
  transform: scale(1);
}

table.table.table-hover {
  text-align: center;
}

.footer {
  background-image: url(footer.jpg);
  background-size: 100% 100%;
  padding: 30px 0px;
  font-family: 'Play', sans-serif;
  text-align: center;

  
}

.footer .row {
  width: 100%;
  margin: 1% 0%;
  padding: 0.6% 0%;
  color: #3c4a90;
  font-size: 1em;
}

.footer .row a {
  text-decoration: none;
  color: #3c4a90;
  transition: 0.5s;
}

.footer .row a:hover {
  color: white;
}

.footer .row ul {
  width: 100%;
}

.footer .row ul li {
  display: inline-block;
  margin: 0px 30px;
}

.footer .row a i {
  font-size: 2em;
  margin: 0% 1%;
}

@media (max-width:720px) {
  .footer {
    text-align: left;
    padding: 5%;
  }

  .footer .row ul li {
    display: block;
    margin: 10px 0px;
    text-align: left;
  }

  .footer .row a i {
    margin: 0% 3%;
  }
}

.btn {
  color: #3c4a90;
  font-size: 1.2rem;
  padding: 10px 30px;
}



.btn span { 
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.btn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.btn:hover span {
  padding-right: 25px;
}

.btn:hover span:after {
  opacity: 1;
  right: 0;
}

.btn2 { 
  background:black;
  font-size: 25px;
}

.btn2 :hover{
  color:white;
  transition: 0.5s;
}

.btn3 { 
  color: #551a8b;
  background:#7575a3;
  font-size: 25px;
  -webkit-text-stroke: 1px;
}

.btn4 { 
  background:#7575a3;
  font-size: 15px;
  -webkit-text-stroke: 1px #551a8b;
}

.btn4 :hover{
  color:white;
  transition: 2s;
  font-size:1.8rem;
}

.btn3 :hover{
  color:white;
  transition: 2s;
  font-size:1.8rem;
}

.home {
  float: left;
  color: green;
  width: 140px;
  height: 40px;
  line-height: 40px;
  background: rgba(0, 0, 0, 0.8);
  cursor: pointer;
  font-size: 17px;
}

.home :hover {
  color:white;
  transition: 0.5s;
}

